# TransferQR Backend - Variables de producción

DATABASE_URL=postgresql://postgres:TU_PASSWORD@TU_HOST_SUPABASE:5432/postgres
JWT_SECRET=transferqr_super_seguro_2026
NODE_ENV=production
PUBLIC_BASE_URL=https://cliente-transferqr-frontend.vercel.app
FRONTEND_URL=https://cliente-transferqr-frontend.vercel.app
